<html>
<head>
	<title>Show Person</title>
</head>
<body>
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Name:</strong>
	  <%= @person.name %>
	</p>

	<p>
	  <strong>Email:</strong>
	  <%= @person.email %>
	</p>

	<p>
	  <strong>Enterprise:</strong>
	  <%= @person.Enterprise_id %>
	</p>

	<div class=button>
		<%= link_to 'Edit', edit_person_path(@person) %>
	</div>
	<div class=button>
		<%= link_to 'Back', people_path %>
	</div>
	
</body>
</html>
