<html>
<head>
  <title>Enterprises list</title>
</head>
<body>
  <p id="notice"><%= notice %></p>

  <h1>Listing Enterprises</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>CNPJ</th>
       
        <th colspan="3">Action</th>
      </tr>
    </thead>

    <tbody>
      <% @enterprises.each do |enterprise| %>
        <tr>
          <td><%= enterprise.name %></td>
          <td><%= enterprise.cnpj %></td>
          <td>
            <div class=button>
                <%= link_to 'Show', enterprise %>
            </div>
          </td>
          <td>
            <div class=button>
                <%= link_to 'Edit', edit_enterprise_path(enterprise) %>
            </div>
          </td>
          <td>
            <div class=button>
                <%= link_to 'Destroy', enterprise, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </td>
        </tr>
        <tr>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <div class="button">
    <%= link_to 'Home', home_path %>    
  </div>
  <div class="button">
    <%= link_to 'New Enterprise', new_enterprise_path %>    
  </div>
</body>
</html>
